.idea/
Estimate.Application/bin/
Estimate.Application/obj/
Estimate.Domain/bin/
Estimate.Domain/obj/
Estimate.UnitTest/bin/
Estimate.UnitTest/obj/
Estimate.Infra/bin/
Estimate.Infra/obj/
Estimate.Infra.IoC/bin/
Estimate.Infra.IoC/obj/
Estimate.Core/bin/
Estimate.Core/obj/
Estimate.sln.DotSettings.user